/* Short Introduction */
.introduction {
  margin: 100px;
  margin-top: 150px;
  margin-right: 50%;
}
@media (max-width: 1000px) {
  .introduction {
    margin: 100px;
    margin-top: 150px;
  }
}
@media (max-width: 700px) {
  .introduction {
    margin: 0px;
  }
}
