.content {
  display: flex;
}
.content-item {
  width: 50%;
}

/* Kontakt Formular */
.kontakt-formular {
  background-color: rgb(220, 220, 220);
  padding: 1.2em;
}
.feld {
  width: 100%;
  height: 1.8em;
  border: 0;
}
.feld-large {
  height: 5em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}
.feld-submit {
  margin-top: 1.4em;
  border: 0;
}
@media (max-width: 1000px) {
  .content {
    flex-wrap: wrap;
  }
  .content-item {
    width: 100%;
  }
}

/* Kontakt Optionen */
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.map-alt {
  display: none;
}
@media (max-width: 450px) {
  .map {
    display: none;
  }
  .map-alt {
    display: unset !important;
  }
}
